# {{ ansible_managed }}
{% for group in _derived_network_interfaces|dictsort(False, 'weight') %}
{%   for interface in ([group.primary] | union(group.aliases)) %}
{%     if interface.auto %}
auto {{ interface.name }}
{%     endif %}
iface {{ interface.name }} inet {{ interface.inet }}
{%     for option in interface.options %}
    {{ option }}
{%     endfor %}
{%   endfor %}
{% endfor %}
