{% set networking_dynamic_packages_tpl = [] %}
{% if (ansible_env.container | default('')) != 'docker' %}
{%   set _ = networking_dynamic_packages_tpl.append('resolvconf') %}
{% endif %}
{% if dubzland_networking_interfaces|d() %}
{%   for iface in dubzland_networking_interfaces %}
{%     if (iface.state | d('present') == 'present' and iface.type | d()) %}
{%       if iface.type == 'vlan' and packages is defined and 'proxmox-ve' not in packages %}
{%         set _ = networking_dynamic_packages_tpl.append('vlan') %}
{%       elif iface.type == 'bridge' %}
{%         set _ = networking_dynamic_packages_tpl.append('bridge-utils') %}
{%       elif iface.type == 'bond' %}
{%         set _ = networking_dynamic_packages_tpl.append('ifenslave') %}
{%       elif iface.type == 'eth' and iface.ucarp | d() %}
{%         set _ = networking_dynamic_packages_tpl.append('ucarp') %}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}
{{ networking_dynamic_packages_tpl | unique | to_yaml }}
